/* https://coolors.co/0c111d-1d2d44-3e5c76-c1cad6-f9f9f9 */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F9F9F9;
  color: #0C111D;
  font-family: "DM Sans", sans-serif !important;
}

nav.navbar {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  width: 100%;
  background-color: #0C111D !important;
}
nav.navbar .collapse {
  justify-content: space-between !important;
}

nav.navbar.home {
  position: absolute;
  top: 0;
}

a.nav-link {
  font-weight: 500;
  color: #F9F9F9 !important;
}
a.nav-link .active {
  color: #3E5C76 !important;
}

.navbar-collapse {
  margin-left: 1rem;
}

.navbar-toggler {
  margin-left: 0.5rem;
  border: 0;
}

.dropdown:hover #dropdownMenuLink {
  -webkit-text-decoration: overline #3E5C76 !important;
          text-decoration: overline #3E5C76 !important;
  text-decoration-thickness: 4px !important;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 90px;
  width: 100vw !important;
  height: 20vh;
  border: 0;
  border-radius: 0 !important;
  background-color: #0C111D !important;
  z-index: 0;
  text-align: center;
}
.dropdown-menu.show {
  display: flex !important;
}
.dropdown-menu a {
  color: #F9F9F9 !important;
  font-size: 1.3rem;
}
.dropdown-menu a:hover {
  color: #3E5C76 !important;
  background-color: #0C111D !important;
  cursor: pointer;
}

#language-icon {
  width: 20px;
  height: 20px;
  background-image: url("/img/iconLanguage.svg");
  background-size: 20px 20px;
}

nav {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}
nav a.nav-link {
  padding: 1rem;
  font-size: 1.1rem;
}
nav a.nav-link:hover {
  -webkit-text-decoration: overline #3E5C76 !important;
          text-decoration: overline #3E5C76 !important;
  text-decoration-thickness: 4px !important;
}

#hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1D2D44;
  color: #F9F9F9;
}
#hero h1 {
  font-size: 6rem;
  margin-bottom: 0 !important;
}
#hero a {
  margin-top: 0.7rem;
  text-decoration: none;
  padding: 15px 25px;
  border: unset;
  border-radius: 50px;
  color: #0C111D;
  z-index: 1;
  background: #F9F9F9;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms ease-in-out;
  overflow: hidden;
}
#hero a:hover {
  color: #F9F9F9;
  background-color: #0C111D;
}

main {
  min-height: 65vh;
}
main#main-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F9F9F9;
  background-color: #1D2D44;
}
main#main-404 h1 {
  font-size: 10rem;
  font-weight: 600;
}
main section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.15rem;
}

footer {
  background-color: #0C111D;
  color: #F9F9F9;
}
footer .top-footer {
  padding: 3rem;
  text-align: center;
}
footer .top-footer .social {
  display: flex;
  justify-content: space-between;
}
footer .top-footer .social img {
  width: 10rem;
}
footer .top-footer .social a img.social-icon {
  width: 2rem;
}
footer .top-footer hr {
  margin-bottom: 1.5rem;
}
footer .top-footer section {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
footer .top-footer section div {
  flex: 1 0 20vw;
}
footer .base-footer {
  text-align: center;
  background-color: #06090E;
  padding: 3rem;
}
footer .base-footer p {
  margin: 0px !important;
  font-weight: 200 !important;
}/*# sourceMappingURL=site.css.map */