/* https://coolors.co/0c111d-1d2d44-3e5c76-c1cad6-f9f9f9 */

$site-primary: #3E5C76;
$site-strong: #1D2D44;
$site-light: #F9F9F9;
$site-dark: #0C111D;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $site-light;
    color: $site-dark;
    font-family: 'DM Sans', sans-serif !important;
}

nav.navbar {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    background-color: $site-dark !important;

    & .collapse {
        justify-content: space-between !important;
    }
}

nav.navbar.home {
    position: absolute;
    top: 0;
}

a.nav-link {
    font-weight: 500;
    color: $site-light !important;

    & .active {
        color: $site-primary !important;
    }
}

.navbar-collapse {
    margin-left: 1rem;
}

.navbar-toggler {
    margin-left: 0.5rem;
    border: 0;
}

.dropdown:hover {
    #dropdownMenuLink {
        text-decoration: overline $site-primary !important;
        text-decoration-thickness: 4px !important;
    }
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 90px;
    width: 100vw !important;
    height: 20vh;
    border: 0;
    border-radius: 0 !important;
    background-color: $site-dark !important;
    z-index: 0;
    text-align: center;

    &.show {
        display: flex !important;
    }

    & a {
        color: $site-light !important;
        font-size: 1.3rem;

        &:hover {
            color: $site-primary !important;
            background-color: $site-dark !important;
            cursor: pointer;
        }
    }
}

#language-icon {
    width: 20px;
    height: 20px;
    background-image: url('/img/iconLanguage.svg');
    background-size: 20px 20px;
}

nav {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;

    & a.nav-link {
        padding: 1rem;
        font-size: 1.1rem;

        &:hover{
            text-decoration: overline $site-primary !important;
            text-decoration-thickness: 4px !important;
        }
    }
}

#hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $site-strong;
    color: $site-light;

    h1 {
        font-size: 6rem;
        margin-bottom: 0 !important;
    }

    a {
        margin-top: 0.7rem;
        text-decoration: none;
        padding: 15px 25px;
        border: unset;
        border-radius: 50px;
        color: $site-dark;
        z-index: 1;
        background: $site-light;
        position: relative;
        font-weight: 1000;
        font-size: 17px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 50px;
            background-color: $site-dark;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
            box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
            transition: all 250ms
        }

        &:hover {
            color: $site-light;

            &:hover::before {
                width: 100%;
            }
        }
    }
}

main {
    min-height: 65vh;
}

footer {
    background-color: $site-dark;
    color: $site-light;

    & .top-footer {
        padding: 3rem;
        text-align: center;

        & .social {
            display: flex;
            justify-content: space-between;

            & img {
                width: 10rem;
            }

            & a img.social-icon {
                width: 2rem
            }
        }

        & hr {
            margin-bottom: 1.5rem;
        }

        & section {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;

            & div {
                flex: 1 0 20vw;
            }
        }
    }

    & .base-footer {
        text-align: center;
        background-color: #06090E;
        padding: 3rem;

        & p {
            margin: 0px !important;
            font-weight: 200 !important;
        }
    }
}