<footer class="w-100">
    <div class="w-100 top-footer">
        <div class="social">
            <img src="/img/footer-logo.png" alt="footer logo" draggable="false" />
            <div class="d-flex align-items-center gap-1">
                <a href="https://www.linkedin.com/in/rubenleonherrera/" target="_blank"><img class="social-icon" role="button" src="/img/iconLinkedin.svg" alt="Linkedin icon" draggable="false" /></a>
                <a href="https://www.instagram.com/rubenleoon_/" target="_blank"><img class="social-icon" role="button" src="/img/iconInstagram.svg" alt="Instagram icon" draggable="false" /></a>
            </div>
        </div>
        <hr>
        <section>
            <div>holaaa</div>
            <div>holaaa</div>
            <div>holaaa</div>
            <div>holaaa</div>
        </section>
    </div>
    <div class="w-100 base-footer">
        <p>&copy; 2023 Lucas Arroyo</p>
    </div>
</footer>